
.example-avatar-basic-usage section + section { margin-top:24px;
}
.example-avatar-basic-usage .vui-avatar + .vui-avatar { margin-left:16px;
}


.example-avatar-type .vui-avatar + .vui-avatar { margin-left:16px;
}


.example-avatar-badge .vui-badge + .vui-badge { margin-left:16px;
}


.example-avatar-dynamic .vui-button { margin-left:16px;
}


.example-avatar-group .vui-avatar-group + .vui-avatar-group { margin-left:16px;
}

