
.example-spin-size > .vui-spin + .vui-spin { margin-left:16px;
}


.example-spin-inside { border-radius:2px; background-color:#fafafa; padding:48px; text-align:center;
}


.example-spin-nested .vui-spin { margin-top:16px;
}


.example-spin-delay .vui-spin { margin-top:16px;
}


.example-spin-indicator > .vui-spin + .vui-spin { margin-left:24px;
}


.example-spin-fullscreen > .vui-button { margin-right:10px;
}

