
.example-transfer-disabled .vui-transfer { margin-top:16px;
}


.example-transfer-table .vui-space { display:flex;
}
.example-transfer-table .vui-switch { display:block;
}
.example-transfer-table .vui-transfer { margin-top:16px;
}

