
.example-tooltip-placement .top { text-align:center;
}
.example-tooltip-placement .top .vui-tooltip { margin:0 8px;
}
.example-tooltip-placement .top .vui-button { width:60px;
}
.example-tooltip-placement .middle { width:348px; height:150px; margin:8px auto;
}
.example-tooltip-placement .middle-left { float:left; width:60px;
}
.example-tooltip-placement .middle-left .vui-tooltip { margin:8px 0;
}
.example-tooltip-placement .middle-left .vui-button { width:60px;
}
.example-tooltip-placement .middle-right { float:right; width:60px;
}
.example-tooltip-placement .middle-right .vui-tooltip { margin:8px 0;
}
.example-tooltip-placement .middle-right .vui-button { width:60px;
}
.example-tooltip-placement .bottom { text-align:center;
}
.example-tooltip-placement .bottom .vui-tooltip { margin:0 8px;
}
.example-tooltip-placement .bottom .vui-button { width:60px;
}


.example-tooltip-colorful + .example-tooltip-colorful { margin-bottom:24px;
}
.example-tooltip-colorful > h4 { margin-bottom:8px;
}
.example-tooltip-colorful > .vui-tooltip { margin-right:8px; margin-bottom:8px;
}

