
.example-input-prepend-append .vui-input:not(:first-child) { margin-top:24px;
}


.example-input-prefix-suffix .vui-input:not(:first-child) { margin-top:24px;
}


.example-input-size section + section{ margin-top:24px;
}
.example-input-size .vui-input + .vui-input { margin-top:24px;
}


.example-input-disabled .vui-input:not(:first-child) { margin-top:24px;
}


.example-input-group .vui-input-group:not(:first-child) { margin-top:24px;
}

