
.example-tag-basic-usage { display:flex;
}
.example-tag-basic-usage .vui-tag { margin-right:8px;
}


.example-tag-size { display:flex; align-items:center;
}
.example-tag-size .vui-tag { margin-right:8px;
}


.example-tag-icon { display:flex;
}
.example-tag-icon .vui-tag { margin-right:8px;
}


.example-tag-closable { display:flex;
}
.example-tag-closable .vui-tag { margin-right:8px;
}


.example-tag-control:before,
.example-tag-control:after { content:""; display:block; width:100%; height:0; visibility:hidden; clear:both;
}
.example-tag-control > .vui-tag,
.example-tag-control > .vui-input,
.example-tag-control > .vui-button { float:left; margin-right:10px; margin-bottom:10px;
}


.example-tag-checkable { display:flex;
}
.example-tag-checkable .vui-tag { margin-right:8px;
}


.example-tag-hot-tags:before,
.example-tag-hot-tags:after { content:""; display:block; width:100%; height:0; visibility:hidden; clear:both;
}
.example-tag-hot-tags > h4,
.example-tag-hot-tags > .vui-tag { float:left; margin-right:8px;
}
.example-tag-hot-tags > h4 { height:24px; color:#333; font-size:14px; line-height:24px;
}


.example-tag-color:not(:last-child) { margin-bottom:20px;
}
.example-tag-color > h4 { margin-bottom:10px;
}
.example-tag-color > .vui-tag { margin-right:10px; margin-bottom:10px;
}

