
.example-progress-line > .vui-progress:not(:first-child) { margin-top:15px;
}


.example-progress-line-small { width:200px;
}
.example-progress-line-small > .vui-progress:not(:first-child) { margin-top:15px;
}


.example-progress-circle > .vui-progress:not(:first-child) { margin-left:15px;
}


.example-progress-circle-small > .vui-progress:not(:first-child) { margin-left:15px;
}


.example-progress-dashboard > .vui-progress:not(:first-child) { margin-left:15px;
}


.example-progress-dynamic > .vui-progress-line { margin-top:15px; margin-bottom:15px;
}
.example-progress-dynamic > .vui-progress-circle { margin-right:15px;
}
.example-progress-dynamic > .vui-progress-dashboard {
}


.example-progress-format > .vui-progress:not(:first-child) { margin-left:15px;
}


.example-progress-color > .vui-progress-line { margin-bottom:15px;
}
.example-progress-color > .vui-progress-circle { margin-right:15px;
}
.example-progress-color > .vui-progress-dashboard {
}


.example-progress-linecap > .vui-progress-line { margin-bottom:15px;
}
.example-progress-linecap > .vui-progress-circle { margin-right:15px;
}
.example-progress-linecap > .vui-progress-dashboard {
}

