
.example-table-size .vui-radio-group { margin-bottom:16px;
}


.example-table-loading .vui-switch { margin-bottom:16px;
}


.example-table-export .vui-button-group { margin-bottom:16px;
}
.example-table-export .vui-button-group .vui-button { margin-left:1px;
}

