
.example-drawer-placement .vui-radio-group { margin-right:16px;
}


.example-drawer-headless-and-footless > .vui-button { margin-right:16px;
}


.example-drawer-get-popup-container { position:relative; height:200px; border:1px solid #f0f0f0; background-color:#f6f6f6; padding:40px; overflow:auto;
}

