
.example-pagination-total .vui-pagination + .vui-pagination { margin-top:16px;
}


.example-pagination-align .vui-pagination + .vui-pagination { margin-top:16px;
}


.example-pagination-small .vui-pagination + .vui-pagination { margin-top:16px;
}


.example-pagination-simple .vui-pagination + .vui-pagination { margin-top:16px;
}


.example-pagination-hide-on-single-page .vui-pagination { margin-top:16px;
}

