
.example-switch-size .vui-switch + .vui-switch { margin-left:16px;
}


.example-switch-text .vui-switch + .vui-switch { margin-left:16px;
}


.example-switch-disabled .vui-button { margin-left:16px;
}


.example-switch-loading .vui-switch + .vui-switch { margin-left:16px;
}

