
.example-layout-basic-usage .vui-layout + .vui-layout { margin-top:24px;
}
.example-layout-basic-usage .vui-layout-header,
.example-layout-basic-usage .vui-layout-footer { background-color:rgba(45,140,240,0.7); color:#fff; text-align:center;
}
.example-layout-basic-usage .vui-layout-sider { background-color:rgba(45,140,240,0.85); color:#fff; text-align:center; line-height:120px;
}
.example-layout-basic-usage .vui-layout-content { background-color:rgba(45,140,240,1); color:#fff; text-align:center; line-height:120px;
}


.browser {
}
.browser-header { display:flex; align-items:center; background-color:#f0f2f4; padding:16px;
}
.browser-header .location { flex:1; position:relative; border-radius:2px; background-color:#fff; margin-right:16px; padding:4px;
}
.browser-header .location .location-href { height:4px; border-radius:2px; background-color:#f0f2f4;
}
.browser-header .btn { width:12px; height:12px; border-radius:12px;
}
.browser-header .btn + .btn { margin-left:8px;
}
.browser-header .btn.btn-max { background-color:#52c41a;
}
.browser-header .btn.btn-min { background-color:#faad14;
}
.browser-header .btn.btn-close { background-color:#ff4d4f;
}
.browser-body { overflow:auto;
}

